.classpath
.project
.settings

*.iml
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*

bin
target
lib
build
.gradle/
pom.xml.versionsBackup
coverage
out/

*.log
log.html

gradle.properties

src/generated/

*.ipr
*.iws
/repo

schema/episodes